{{#each-in sessionsByTracks as |track trackSession|}}
  <h3 class="ui header">{{track}}</h3>
  {{#each trackSession as |session|}}
    {{public/session-item session=session}}
  {{/each}}
{{/each-in}}
